@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}

.page {
  height: var(--vh);
  font-family: var(--font-family-primary);
  font-weight: var(--fw-400);
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.0125em;
  color: var(--color-grey-400);
  background-color: var(--color-white);
  font-optical-sizing: auto;

  &__body {
    min-width: 320px;
    min-height: var(--vh);
  }

  &.open {
    overflow: hidden;
  }
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

.site-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  min-height: var(--vh);
}

.section {
  padding: clamp(30px, 4.5vw, 65px) 0;

  & > *:not(:last-child) {
    margin-bottom: clamp(24px, 34vw, 45px);
  }

  &__top {
    @include flex-v-center;
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }
}

.article {
  position: relative;

  &__link::before {
    //content: "";
    //position: absolute;
    //z-index: 2;
    //inset: 0;
  }
}

.overlay {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    background: var(--gradient-primary);
  }

  &--hero::before {
    background: var(--color-dark-60);
  }

  &--contact::before {
    background: var(--gradient-contact);
  }

  &--slider::before {
    background: var(--gradient-slider);
  }
}

.form {
  max-width: 650px;
  width: 100%;
  margin-inline: auto;

  //& > *:not(:nth-last-child(2), :last-child) {
  //  margin-bottom: 16px;
  //}
  //
  //& > *:nth-last-child(2) {
  //  margin-bottom: 24px;
  //}
}

label {
  display: block;
}

input {
  display: block;
  width: 100%;
  padding: clamp(5px, 2vw, 22px) clamp(10px, 2vw, 24px) 190px;
  background-color: var(--color-whute-90);
  border-radius: var(--radius-s);
  box-shadow: var(--shadow-contact);
}